


body{
	margin:0;
	padding:0;
	background-color: #6C5E4E;
}

header{ 
	color: #ac865c;
	text-align: center;
}

a:link {
    color: #8b4513;
}

/* visited link */
a:visited {
    color: #8b4513;
}

nav a:link {
	color: brown;

}
nav a:hover {
	background-color: white;
	color: borwn;
}

nav { 
	text-align: center;
	padding: 1px;
	font-size:12px;

}

nav ul {
	font-family: Arial;
	list-style-type: none;
	text-decoration: none;
	padding:0;
	margin:0;
} 
nav a {
	display:block;
	text-decoration:none;
	background-color: #22333B;
	padding: 8px;
}


main {
  max-width: 1000px;
  background-color:#EAE0D5; 
  margin-top:10%;
  margin-left: 10%; 
  margin-right: 10%;
  padding:1em;
}

section {
  margin: 1em 1%;
  
}

h2{ font-family:Arial;
}

p{ font-size: 12px;
font-family: Helvetica;
text-align: justify;
}

footer{ text-align:center;
font-size:10px;
color: grey; 
 }
 
 





@media screen and (min-width: 500px) {
 /* override mobile styles for bigger screens */

body{
	margin:0;
	padding:0;
	font-family: Helvetica;
	background-color: #6C5E4E;
  
}

header{ 
	color: #ac865c;
	text-align: center;
}
nav a:link {
	color: brown;
	padding: 10px;
}

nav a:hover {
	color: borwn;
	background-color: white;
}
nav { 
	text-align: center;
}

nav {
	
  left: 1px;
  top: 23em;
  width: 20%;
  text-align: center;
  padding: 10px;
  float:left;
  position:fixed;
}
nav ul {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif; 
	list-style-type: none;
	text-decoration: none;
} 


nav a {
	display:block;
	text-decoration:none;
	background-color: #22333B;
	padding: 10px;
	
}





main {
  background-color:#EAE0D5; 
  margin-top:1%;
  margin-left: 25%; 
  margin-right: 25%;
 
}


section {
  font-size: 15px;
  margin: 1em 1%;
}

footer{ 
 }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 



a:link{
	color: brown;
}

a:hover{
	color: brown;
} 1em 1% ;
}
}

