
body{
	margin:0;
	padding:0;
	background-color: #6C5E4E;
}

header{ 
	color: #ac865c;
	text-align: center;
}

a:link {
    color: #8b4513;
}

/* visited link */
a:visited {
    color: #8b4513;
}

nav a:link {
	color: 8b4513;

}
nav a:hover {
	background-color: white;
	color: 8b4513;
}

nav { 
	text-align: center;
	padding: 1px;
	font-size:12px;

}

nav ul {
	font-family: Arial;
	list-style-type: none;
	text-decoration: none;
	padding:0;
	margin:0;
} 
nav a {
	display:block;
	text-decoration:none;
	background-color: #22333B;
	padding: 8px;
}


main {
  max-width: 1000px;
  background-color:#EAE0D5; 
  margin-top:10%;
  margin-left: 10%; 
  margin-right: 10%;
  padding:1em;
}

section {
  margin: 1em 1%;
  
}

h2{ font-family:Arial;
}

p{ font-size: 12px;
font-family: Helvetica;
text-align: justify;
}

footer{ 
font-size:10px;
color: grey; 
 }
 
 /*!!!!!!!!!!!!!!!!toggle CSS!!!!!!!!!!!!!!!!!!!!!!*/
.accordion {
   
	background-color:#EAE0D5;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.9s;
}

.active, .accordion:hover {
}

.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/*!!!!!!!!!!!!!!!!!!!!END of toggle CSS!!!!!!!!!!!!!!!!!!*/

/*!!!!!!!!!!!!!!!back to top button css!!!!!!!!!!!!*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}


@media screen and (min-width: 500px) {
 /* override mobile styles for larger and desktop screens */

body{
	margin:0;
	padding:0;
	
}

header{ 

	text-align: center;
}
nav a:link {
		padding: 10px;
}



nav {
  left: 2%;
  
  bottom:5em;
  width: auto;
  padding: 10px;
  float:left;
  position:fixed;
}
nav ul {
	list-style-type: none;
	text-decoration: none;
} 


nav a {
	display:block;
	text-decoration:none;
	padding: 10px;
}

main {
  margin-top:1%;
  margin-left: 25%; 
  margin-right: 25%;
 
}

section {
  font-size: 15px;
  margin: 1em 1%;
}

}

